{% extends 'contas/header.html' %}


{% block title %}
    <title>Parque Itaipu | Erro 404</title>
{% endblock %}

{% load static %}

{% block main %}

    <div class="form-signin" style="max-width: 400px">


        <img class="mb-4" src="{% static 'favicon/../../core/static/android-chrome-192x192.png' %}" alt="" width="72"
						 height="72">
        <h1 class="h3 mb-3 font-weight-normal" style="color: #dc3545;">Erro 404:<br>Página não encontrada</h1>
        <hr>
        <p class="lead">Você deve ter clicado em um link inválido.</p>


        <p class="lead">Caso o erro persista, entre em contato com <a
                href="mailto:{{ EMAIL_ADMIN }}">{{ EMAIL_ADMIN }}.</a></p>
        <hr>

        <a class="btn btn-lg btn-primary btn-block" href="{% url 'core:home' %}">
            <span class='octicon octicon-chevron-left'></span> Voltar
        </a>

        <p class="mt-5 mb-3 text-muted">&copy; {% now "Y" %} - Parque Itaipu</p>

    </div>
{% endblock %}
