{% extends 'core/header_footer.html' %}

{% load static %}

{% block title %}
	<title>Parque Itaipu | Avisos</title>
{% endblock %}



{% block apresentacao %}

	{% include 'includes/messages.html' %}
	<p class="hidden" id='aviso-lido-url' data-url="{% url 'api:aviso-lido' %}"></p>

	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-5">Avisos</h1>
		<hr>
		<p class="lead">
			Ative as notificações do website pelo smartphone para receber notificações quando novos avisos forem publicados.
		</p>

		<p class="text-danger"> ADICIONAR BOTÃO NOTIFICAÇÃO</p>
		<hr>


	</div>

	<div class="album py-5 bg-light">
		<div class="container">
			<div class="container">
				<div class="row">
					{% for aviso in aviso_list %}

						<div class="col-md-6 aviso-card-js"
										{% if request.user in aviso.viewers.all %}
								 data-viewed="true"
										{% else %}
								 data-viewed="false"
										{% endif %}
						>

							<div class="card mb-3 shadow-sm" data-id="{{ aviso.id }}">
								<div class="card-body">


									<div style="display: flex; justify-content: space-between; align-items: start">
										<h5 class="card-title">{{ aviso.titulo }}</h5>
										<span style="align-self: center"
													class="badge badge-warning mb-3 hidden not-read-badge-js">Novo</span>
										<span style="align-self: center"
													class="badge badge-light mb-3 hidden already-read-badge-js">Lido</span>
									</div>

									{% if aviso.subtitulo %}
										<h6 class="card-subtitle mb-2 text-muted">{{ aviso.subtitulo }}</h6>
									{% endif %}

									<hr>
									<p class="card-text">{{ aviso.texto|striptags|safe|truncatewords:20 }}</p>

									{% include 'avisos/includes/aviso-modal.html' with aviso=aviso id=aviso.id %}

									<a href="#" class="card-link" data-toggle="modal" data-target="#readMoreModal-{{ aviso.id }}">Ler mais</a>

									<small class="text-muted" style="float: right">{{ aviso.data }}</small>
								</div>
							</div>
						</div>


					{% endfor %}

				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block footer %}

	<footer class="pt-4 my-md-5 pt-md-5 border-top">
		{% if is_paginated %}
			<nav aria-label="Navegação da página">
				<ul class="pagination justify-content-center">

					{% if page_obj.number > 1 %}
						<li class="page-item">
							<a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"
								 aria-label="Página Anterior">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Página Anterior</span>
							</a>
						</li>
					{% endif %}

					{% for i in i|rjust:page_obj.paginator.num_pages %}

						<li {% if page_obj.number == forloop.counter or forloop.counter > page_obj.paginator.num_pages %}class="page-item disabled"
								{% else %}class="page-item"{% endif %}>
							<a class="page-link" href="{{ request.path }}?page={{ forloop.counter }}">
								{{ forloop.counter }}
							</a>
						</li>
					{% endfor %}

					{% if page_obj.number < page_obj.paginator.num_pages %}
						<li class="page-item">
							<a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"
								 aria-label="Próxima Página">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Próxima Página</span>
							</a>
						</li>
					{% endif %}

				</ul>
			</nav>
		{% endif %}

		<p class="text-muted text-center">&copy; 2018 - Parque Itaipu</p>

	</footer>


{% endblock footer %}

{% block scripts %}
	<script src="{% static "js/aviso-highlight.js" %}" type="text/javascript"></script>
{% endblock %}