{% extends 'core/header_footer.html' %}


{% block title %}
    <title>Parque Itaipu | Configurações da Conta</title>
{% endblock %}



{% block apresentacao %}

    {% include 'includes/messages.html' %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">


        <h1 class="display-5">Configurações da sua chácara</h1>

        <hr>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-6">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal text-center">Alterar senha</h4>
                        </div>

                        <div class="card-body">

                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
    <!-- [END] alterar email -->

{% endblock %}



