{% extends 'core/header_footer.html' %}


{% block title %}
    <title>Parque Itaipu | Home</title>
{% endblock %}



{% block apresentacao %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">


        <h1 class="display-4">Página do Morador</h1>
        <p class="lead">Seja bem-vindo a sua página de morador.</p>
        <hr>

        <p class="lead">
            Aqui você pode atualizar o telefone da sua chácara no menu acima, assim como
            permitir remotamente a entrada de visitantes em uma data específica com o botão abaixo.
        </p>

        <hr>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center text-center">

                <!-- Primeiro card (Autorizar Visitas)-->
                <div class="col-md-6" id="autorizar-visitas">
                    <div class="card mb-4 shadow-sm card-outline">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Autorizar Visitas</h4>
                        </div>

                        <div class="card-body">
                            <p>
                                Agende visitas em uma data, ou proiba pessoas específicas de te visitar.
                            </p>
                        </div>

                    </div>
                </div>
                <!-- Fim do primeiro card-->


							<!-- Segundo card (Editar Chácara)-->
                <div class="col-md-6" id="editar-chacara">
                    <div class="card mb-4 shadow-sm card-outline">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Editar Chácara</h4>
                        </div>

                        <div class="card-body">
                            <p>
                                Edite os moradores e o telefone da sua chácara.
                            </p>
                        </div>

                    </div>
                </div>
                <!-- Fim do segundo card-->

            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>

        $('#autorizar-visitas').click(function () {
            $(location).attr('href', '{% url "core:autorizar visitas" page=1%}')
        });

        $('#editar-chacara').click(function () {
            $(location).attr('href', '{% url "core:editar chacara" page=1 %}')
        });

    </script>
{% endblock %}


