{% extends 'contas/header.html' %}


{% block title %}
    <title>Parque Itaipu | Criação de visitante</title>
{% endblock %}

{% load static %}

{% block main %}
    <form class="form-signin" method="post" action="{% url 'core:novo visitante' %}">
        {% csrf_token %}
        <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" width="72"
                 height="72">
            <h1 class="h3 mb-3 font-weight-normal">Adicionar visitante à chácara</h1>
            <p style="color: #dc3545;">{% if form.errors %}Houve um erro ao registrar o visitante.<br> Por favor, tente
                novamente. {{ form.non_field_errors|safe }}{% endif %}
            </p>
        </div>


        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}


        {% for field in form %}

            <div style="text-align: left">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span style="color: #dc3545">{{ error|safe }}</span>
                    {% endfor %}
                {% else %}
                    {% if not field.is_hidden %}
                        <span class="text-muted" style="margin-bottom: 0">{{ field.label }} </span>
                        <span style="color: #dc3545">*</span>
                    {% endif %}
                {% endif %}
            </div>

            <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
            <input name="{{ field.html_name }}"
                   id="{{ field.id_for_label }}"
                   placeholder="{{ field.label }}"
                   required autofocus

                    {% if 'data' in field.html_name %}
                   class="form-control"
                   type="date"

                    {% else %}
                   type="{{ field.field.widget.input_type }}"
                   class="form-control capitalize mb-3"
                    {% endif %}>


            {% for error in field.errors %}
                <small style="color: #dc3545">{{ error|safe }}</small>
            {% endfor %}

        {% endfor %}

        <div class="checkbox m-3 text-center">
            <label>
                <a href="{% url 'core:autorizar visitas' page=1%}">Voltar</a>
            </label>

        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
{% endblock %}


{% block script %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.4.4/cleave.min.js"
            integrity="sha256-bdsE7OfVf7KHL+kLZ4qWLjQs+/gBQ8e2MX02zqTRN+A=" crossorigin="anonymous"></script>

{% endblock %}

