{% extends 'contas/header.html' %}


{% block title %}
    <title>Itaipu | Digite sua nova senha</title>
{% endblock %}

{% load static %}

{% block main %}



    {% if validlink %}

        <form class="form-signin" method="post">
            {% include 'contas/cookie_banner.html' %}
            {% csrf_token %}

            <img class="mb-4" src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" width="72"
                 height="72">

            <h1 class="h3 mb-3 font-weight-normal">Digite sua nova senha</h1>
            <p style="color: #dc3545;">{% if form.errors %}Houve um erro ao redefinir sua senha.<br>Tente
                novamente.{% endif %}</p>

            {% for field in form %}

                <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                <input name="{{ field.html_name }}"
                       type="{{ field.field.widget.input_type }}"
                       placeholder="{{ field.label }}"
                       id="{{ field.id_for_label }}"
                       class="form-control"
                       required autofocus
                       autocorrect="off" autocapitalize="none">

                {% for error in field.errors %}
                    <small style="color: #dc3545;">{{ error|safe }}</small>
                {% endfor %}

            {% endfor %}

            <hr>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Atualizar senha
            </button>
            <input type="hidden" name="next" value="{{ next }}"/>

            <p class="mt-5 mb-3 text-muted">&copy; {% now "Y" %} - Parque Itaipu</p>
        </form>

    {% else %}

        <div class="form-signin">
            {% include 'contas/cookie_banner.html' %}

            <img class="mb-4" src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" width="72"
                 height="72">

            <h1 class="h3 mb-3 font-weight-normal">Link inválido</h1>
            <div class="text-center mb-4">
                <p>
                    Esse link de redefinição de senha é inválido, possivelmente porque já foi utilizado.
                </p>

                <p>
                    Adquira um novo link para redefinir sua senha <a href="{% url 'contas:password_reset' %}">aqui</a>.
                </p>

                <a class="btn btn-lg btn-primary btn-block" href="{% url 'contas:login' %}"> Voltar</a>
            </div>

            <p class="mt-5 mb-3 text-muted">&copy; {% now "Y" %} - Parque Itaipu</p>
        </div>

    {% endif %}

{% endblock %}