{% extends 'contas/header.html' %}


{% block title %}
    <title>Itaipu | Redefinir Senha</title>
{% endblock %}

{% load static %}

{% block main %}

    <form class="form-signin" method="post" action="{% url 'contas:password_reset' %}">
        {% include 'contas/cookie_banner.html' %}
        {% csrf_token %}

        <img class="mb-4" src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">Redefinição de senha</h1>

        <p>
            Esqueceu a senha? Forneça o seu endereço de email abaixo e te enviaremos instruções para definir uma nova.
        </p>

        {% for field in form %}

            <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
            <input name="{{ field.html_name }}"
                   type="{{ field.field.widget.input_type }}"
                   id="{{ field.id_for_label }}"
                   class="form-control"
                   placeholder="{{ field.label }}"
                   required autofocus
                   autocorrect="off" autocapitalize="none">

        {% endfor %}

        <div style="margin-top: 1.5rem">
            <a style="float: left;" href="{% url 'contas:login' %}">Login</a>
            <a style="float: right;" href="{% url 'contas:associar conta' %}">Associar email</a>
        </div>

        <hr style="clear: both">

        <button class="btn btn-lg btn-primary btn-block" type="submit"> Enviar
        </button>
        <input type="hidden" name="next" value="{{ next }}"/>
        <p class="mt-5 mb-3 text-muted">&copy; {% now "Y" %} - Parque Itaipu</p>

    </form>
{% endblock %}