{% extends 'contas/header.html' %}


{% block title %}
    <title>Itaipu | Email Enviado</title>
{% endblock %}

{% load static %}

{% block main %}

    <div class="form-signin">
        {% include 'contas/cookie_banner.html' %}

        <img class="mb-4" src="{% static 'favicon/../../../core/static/android-chrome-192x192.png' %}" alt="" width="72"
						 height="72">
        <h1 class="h3 mb-3 font-weight-normal">Email Enviado!</h1>

        <p>
            Enviamos para seu email instruções de como definir uma nova senha para sua conta, caso o email inserido
            esteja relacionado a alguma conta do sistema. Aguarde alguns minutos para a mensagem chegar.
        </p>

        <p>
            Caso você não tenha recebido o email, confira sua caixa e spam e verifique se o email que você usou para
            registrar sua conta foi digitado corretamente.
        </p>

        <hr style="clear: both">

        <a class="btn btn-lg btn-primary btn-block" href="{% url 'contas:login' %}"> Voltar</a>
        <p class="mt-5 mb-3 text-muted">&copy; {% now "Y" %} - Parque Itaipu</p>

    </div>
{% endblock %}
