{% extends 'contas/header.html' %}


{% block title %}
    <title>Itaipu | Senha alterada</title>
{% endblock %}

{% load static %}

{% block main %}

    <div class="form-signin">
        {% include 'contas/cookie_banner.html' %}
        {% csrf_token %}

        <img class="mb-4" src="{% static 'favicon/android-chrome-192x192.png' %}" alt="" width="72"
             height="72">
        <h1 class="h3 mb-3 font-weight-normal">Senha alterada!</h1>

        <p>
            Sua senha foi alterada com sucesso.
        </p>

        <p>
            Faça login com o botão abaixo
        </p>

        <hr style="clear: both">

        <a class="btn btn-lg btn-primary btn-block" href="{% url 'contas:login' %}">Login</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2018 - Parque Itaipu</p>

    </div>
{% endblock %}
