[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=itaipu-web
Group=www-data
WorkingDirectory=/var/www/html/itaipu
ExecStart=/var/www/html/itaipu/venv/bin/gunicorn \
          --log-file=- \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          itaipu.wsgi:application

[Install]
WantedBy=multi-user.target

#[Unit]
#Description=Gunicorn daemon for Django Project
#Before=nginx.service
#After=network.target
#
#[Service]
#WorkingDirectory=/home/django/django_project
#ExecStart=/usr/bin/gunicorn --name=django_project --pythonpath=/home/django/django_project --bind unix:/home/django/gunicorn.socket --config /etc/gunicorn.d/gunicorn.py django_project.wsgi:application
#Restart=always
#SyslogIdentifier=gunicorn
#User=django
#Group=django
#
#
#[Install]
#WantedBy=multi-user.target

